$theme-colors: (
  "primary":    #19718c,
  "secondary":  #19718c,
  "light":      $light,
  "dark":       $dark
  "bg-color":   #e6e7e7,
);



/* font-family: 'Noto Sans KR', sans-serif;
font-family: 'Noto Serif KR', serif;
font-family: 'Roboto', sans-serif;
font-family: 'Song Myung', serif;*/

@import url('https://fonts.googleapis.com/css2?family=
Noto+Sans+KR:wght@300;700;900&
family=Noto+Serif+KR:wght@400;900&
family=Roboto:ital,wght@0,300;0,400;1,300
&family=Song+Myung&display=swap');
